<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E026F73E25B643ED00F5EC87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E026F75425B643F100F5EC87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0E41E4C25DFDD52002D25FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
